
.DisplayFlexX {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.IndexPageContainer h2 {
    text-decoration: underline;
    text-underline-offset: 1vh;
    color: white;
}
.IndexPageContainer > a{
    color: wheat;
}
.IndexNameContainer {
    margin: 0;
    padding: 2vh;
}

.IndexNameContainer p,
h1 {
    margin: 0;
}

.IndexNameContainer::after {
    content: '';
    position: relative;
    display: inline-block;
    background-color: yellow;
    width: 50vw;
    margin: 1vh 0 4vh 0;
    height: 0.4vh;
}
.IndexNameContainer img{
    width: 20vw;
}

.width80vw {
    width: 80vw;
}

.IndexAboutContainer {
    width: 80vw;
    color: white;
}

.SpecialTaglineIndex {
    text-decoration: underline;
    text-underline-offset: 0.5vh;
    padding: 0 2vh 0 0;
}

.IndexPageAboutApp {
    width: 80vw;
    color: white;
}
.IndexPageAboutApp ul > a{
    color: white;
    text-underline-offset: 0.6vh;
} 
.infomessage {
    text-align: right;
    width: 97vw;
    font-size: 1.5vh;
    color: wheat;
}

/* Go To Login Page Goes Here */
.gotologinpageIndex {
    position: absolute;
    top: 2vh;
    left: 2vw;  
    box-shadow: 0 0 10px black;
    padding: 0vh 1vw;    
    cursor: pointer;
    font-size: 2.5vh;
}
.gotologinpageIndex_user {
    position: absolute;
    top: 15vh;
    left: 2vw;  
    box-shadow: 0 0 10px black;
    padding: 0vh 1vw;    
    cursor: pointer;
    font-size: 2.5vh;
}

.gotologinpageIndex p{
    /* padding: 1vh; */
    border-radius: 0.6vh;
}
.GoToSitePage{
    font-size: 1.7vh;
    color: lime;
}
.GoToSitePageMailMe{
    font-size: 2.5vh;
    color: lime;
}
.projectdetails{
    color: white;
}
.projectdetails ul li> a {
    text-underline-offset: 0.6vh;
    color: white;
}

/* ThankyouUrlFriend */
.redtxtindex{
    color: rgb(255, 123, 0);
}