name: Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'
          
      - name: Install dependencies
        run: npm ci
        
      - name: start the build
        run: |
          CI=false # remove this to after fixing warnings
          npm run build
       
      - name: Deploy to VM
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            cd /home/azureuser/server
            sudo rm -rf healthcare_static_build/*
            
            scp -r ${GITHUB_WORKSPACE}/build/* healthcare_static_build/
            
            docker-compose down
            docker-compose build
            docker-compose up -d
            docker image prune -f
